[% WRAPPER 'include/layout.tt' %]

<ul class="breadcrumb">
    <li class="active">Home</li>
</ul>

<table class="table table-bordered table-hover">
    <tr>
        <th>Database</th>
    </tr>
[% FOR database IN databases %]
    <tr>
        <td><a href="[% c().uri_for('/database', {database => $database}) %]">[% database %]</a></td>
    </tr>
[% END %]
</table>

[% END %]
